<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
	
<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Autoras</h1>
			<a class="btn btn-link aw-link-panel" th:href="@{/autoras/novo}">Nova Autora</a>
		</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Data de Nascimento</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="autora : ${autoras}">
					<td th:text="${autora.nome}">xxx</td>
					<td th:text="${autora.email}">xxx@xxx</td>
					<td th:text="${autora.dtNascimento}">xxxx-xx-xx</td>
					<td> 
						<a th:href="@{/autoras/alterar/}+${autora.idAutora}" class="glyphicon glyphicon-pencil"></a>
					</td>
					<td>
						<a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${autora.idAutora}, data-descricao=${autora.nome}, data-model='autora' "
								title="Excluir" rel="tooltip" data-placement="top"> <span
								class="glyphicon glyphicon-remove"></span>
						</a> 
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>
